name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      # CRITICAL CHANGE HERE: Added mkdocs-glightbox
      - run: pip install mkdocs-material mkdocs-glightbox
      - run: mkdocs gh-deploy --force
